:global {
  .viewNav {
    width: 100%;
    height: 220px;
    border-radius: 10px;

    .type {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .kaoShi {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .list {
    border-radius: 10px;
    .dl {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      height: 150px;
      align-items: center;
      padding: 0 15px;
      box-sizing: border-box;

      .dt {
        padding: 10px;
        font-size: 20px;

        .titles {
          color: rgba(0, 0, 0, 0.65);
          margin-bottom: 4px;
          font-size: 14px;
          line-height: 22px;
        }

        span {
          color: #1890ff;
          background: #e6f7ff;
          border-color: #91d5ff;
          border: 1px solid #91d5ff;
          padding: 5px;
          border-radius: 6px;
          margin: 5px;
          font-size: 13px;
        }

        .namea {
          color: #0139FD;
          cursor: pointer;
          font-size: 16px;
          margin-top: 5px;
        }
      }

      .dd {
        font-size: 15px;
        color: #0139FD;
      }
    }
  }
}
