:global {
    .detail-wrap {
        display: flex;
        padding: 25px;
        justify-content: space-between;
        .detail {
            width: 40%;
            background: #fff;
            border-radius: 10px;
            padding: 20px;
        }
        .answer {
            width: 55%;
            background: #fff;
            border-radius: 10px;
            padding: 20px;
            .answer-cont{
                background: #ccc;
                border-radius: 10px;
                padding: 10px;
            }
        }
    }
}