.center{
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 20px;

    .nav{
        padding: 20px 0;
        background: #f0f2f5;
        color:#000;
        display: flex;
        justify-content: space-around;
        
    }
    .li{
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
  list-style: none;

    }
}
